.advantages {
  width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 708px;
    // padding: 30px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    // padding: 110px;
  }
}

.advantages__title {
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  color: $base-color-title;
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    // width: 708px;
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 77px;
    column-gap: 137px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
  }
}

.advantages__item {
  position: relative;
  padding-left: 80px;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 60px;
    height: 60px;
    background: $bg-basic-green;
    background-position: center;
    background-repeat: no-repeat;
  }

  &--leaf::before {
    background-image: url("../../images/icons/stack.svg#tree-leaf");
    background-size: 25px 28px;
  }

  &--instant::before {
    background-image: url("../../images/icons/stack.svg#instant");
    background-size: 26px 31px;
  }

  &--icon-eat::before {
    background-image: url("../../images/icons/stack.svg#icon-eat");
    background-size: 25px 28px;
  }

  &--scales::before {
    background-image: url("../../images/icons/stack.svg#icon-scales");
    background-size: 25px 28px;
  }
}

// .advantages__item--1 {
//   background-image: url("../../images/icons/stack.svg#tree-leaf");
//   width: 25px;
//   height: 28px;
// }

// .advantages__item--2 {
//   background-image: url("../../images/icons/stack.svg#instant");
//   width: 25px;
//   height: 28px;
// }

// .advantages__item--3 {
//   background-image: url("../../images/icons/stack.svg#icon-eat");
//   width: 25px;
//   height: 30px;
// }

// .advantages__item--4 {
//   background-image: url("../../images/icons/stack.svg#icon-scales");
//   width: 26px;
//   height: 32px;
// }

.advantages__description {
  font-size: 14px;
  line-height: 18px;
  color: $base-color-text;
  min-width: 200px;

  position: relative;
}

// .advantages__description::before {
//   content: " ";
//   right: 100%;
//   margin-right: -20px;
//   position: absolute;
//   padding: 10px;
//   height: 20px;
//   width: 20px;
//   background-color: $bg-basic-green;
//   background-image: url("/images/icons/tree-leaf.svg");
//   background-repeat: no-repeat;
//   background-position: 50% 50%;
//   background-size: 24px 28px;
// }
