.description {
  width: 280px;
  margin: 0 auto;
  margin-top: 20px;

  @media (min-width: $tablet-width) {
    width: 708px;
    // padding: 30px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    // padding: 0 110px;
  }
}

.description__list {
  margin: 0;
  padding: 0;
  list-style: none;
  // padding-top: 20px;
  // padding-left: 22px;


  @media (min-width: $desktop-width) {
    width: 1220px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}

.description__item {
  background-color: $bg-basic-grey;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-bottom: 22px;
}

.description__title {
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  color: $base-color-title;
  text-transform: uppercase;
  margin: 0;
  display: inline;
  vertical-align: super;
  padding-left: 20px;
}

// .description__icon::before {
//   content: "";
//   display: block;
//   background: $bg-basic-green;
//   border-radius: 25px;
//   width: 50px;
//   height: 50px;
// }

// .description__icon {

// }

.description__subtitle {
  font-size: 14px;
  line-height: 18px;
  color: $base-color-text;
  margin: 0;
  padding-top: 22px;
  padding-bottom: 42px;
  padding-right: 33px;
  position: relative;
}

.description__subtitle::after {
  content: "";
  position: absolute;
  background-color: $special-grey4;
  height: 1px;
  width: 240px;
  bottom: 23px;
  left: 0;
}

.description__link {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: $base-color-title;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  padding-top: 15px;
  padding-bottom: 18px;
}

.description__link::after {
  content: "";
  display: inline-block;
  background-image: url("../../images/icons/stack.svg#icon-arrow-link");
  background-repeat: no-repeat;
  // background-position: center right 20px;
  width: 24px;
  height: 12px;
  margin-left: 15px;
}

.description__heading {
  display: flex;
  align-items: center;
  padding-top: 20px;
}
