// .logo {
//   margin: 0 auto;
// }

// .logo__image {


// }

.logo__text {
  padding-left: 55px;
  display: inline;
  vertical-align: super;
}

.logo__text--footer {
  padding-left: 0;
  text-align: center;
}
