.main-footer {
  max-width: 280px;
  width: 100%;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    max-width: 709px;
    width: 100%;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1220px;
    width: 100%;
    padding: 0 110px;
  }
}

.main-footer__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.main-footer__social {
  margin: 0 auto;
}

.main-footer__copyright {
  display: flex;
  justify-content: space-between;
}

.main-footer__container a {
  margin: 0 auto;
  padding-top: 40px;
}
