.promo {
  background-image: url("../images/index-background-desktop2@1x.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 320px 302px;
  position: relative;

  @media (min-width: $tablet-width) {
    background-color: url("../images/index-background-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: center top;
  }
}

.promo__images {
  position: absolute;
  top: 176px;
  left: 20px;
}

.promo__bg {
  background-color: $bg-basic-green;
  opacity: 0.85;
  height: 302px;
}

.promo__title {
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: $inline-color-text;
  margin: 0;
  text-align: center;
  padding-top: 27px;
}

.promo__slogan {
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: $inline-color-text;
  margin: 0;
  padding-top: 25px;
  padding-bottom: 29px;
  text-align: center;
  text-transform: uppercase;
}

.promo__button {
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 14px;
  padding: 10px;
  margin-top: 138px;
  padding-left: 22px;
  width: 280px;
}
